*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    width: 1000px;
    height: 600px;
    margin: 50px auto;
    font-size: 0;
    /* position: relative; */
}

/* 第一个框图片 */
.img1{
    border: 1px solid #eee;
    width: 490px;
    height: 510px;
    margin-right: 16px;
    display: inline-block;
    background-image: url(./images/imgA_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* 蒙层 */
.Mantle{
    width:230px;
    height:230px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(./images/bg.png);
    opacity: 0;
}
/* 第二个框容器 */
.img2{
    border: 1px solid #eee;
    width: 490px;
    height: 510px;
    display: inline-block;
    background-image: url(./images/imgA_3.jpg);
    background-repeat: no-repeat;
    opacity: 0;
    position: relative;
}
/* 已下是折叠层图片 */
.cont{
    width: 490px;
    text-align: center;
    margin-top: 10px;
}
.cont-img{
    display: inline;
}
.cont-img li{
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    /* background-image: url(./images/imgA_1.jpg); */
}