*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.continer{
    margin: 100px auto;
    width: 500px;
    /* 两个单元格之间的边框合并成一个 */
    border-collapse: collapse;
}
tr:hover{
    background-color: #f5f7fa;
}
th{
    cursor: pointer;
    color: #909399;
}
td{
    color: #606266;
}
th,td{
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
}
input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}