@import'reset.css';

@font-face {
    font-family: 'iconfont';
    src: url('iconfont.ttf?t=1639139886439') format('truetype');
  } 

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    /* 只针对ie浏览器开发使用的字体 eot */
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        /* 针对于网页开发的两种字体woff */
        url('../font/iconfont.ttf') format('truetype'),
        /* 支持IE9以上浏览器和其他浏览器，字体的文件较大 */
        url('../font/iconfont.svg#iconfont') format('svg');
        /* svg是一种图形的技术，支持ie9+ */
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 非标准的格式，使字体看起来更清晰 */
}

/* 导航栏 */
.header{
    height: 35px;
    line-height: 30px;
    padding: 10px;
    font-size: 12px;
   
}
/* 左侧 */
.left{
    float: left;

}
.left a{
    margin-left: 7px;
}

/* 右侧 */
.right{
    float: right;
}
.right a{
    margin-right: 7px;

}

/* 头部图片引入 */
.headAD{
    background-color: #f50;
   
}
.headAD ul{
    margin-top: 3px;
}
.headAD li{ 
    position: relative;
    float: left;
    width: 200px;
    margin-right: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    padding:10px 10px 10px 15px ;
 
}
.headAD li h3{
    position: absolute;
    top: 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  
    
}
.headAD li p{
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 40px;
    
}
.headAD li a img{
    clear: both;
     width: 200px;
     height: 70px; 
    border-radius: 7px;
  
}

.headAD .images{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    position: absolute;
    top: 20px;
    left: 127px;

}